*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:#fff;
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:400px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:15px 0;
}

button{
    padding:12px 20px;
    cursor:pointer;
    margin-top:10px;
}

#imgBox{
    margin-top:20px;
}

#qrImage{
    width:250px;
}

#downloadBtn{
    display:none;
    margin-top:15px;
    text-decoration:none;
}